#demo1{
    font-size: 40px;
    font-weight: bold;
}
#demo2{
    font-size: 40px;
    font-weight: bold;

}
#demo3{
    font-size: 40px;
    font-weight: bold;

}
#demo4{
    font-size: 40px;
    font-weight: bold;

}
#demo5{
    font-size: 40px;
    font-weight: bold;

}
#demo6{
    font-size: 40px;
    font-weight: bold;

}
