  .clock-container {  
    position: absolute;  
    margin-left: 100px;
    padding-top: 15px;  
    color:white;  
    font-size: 60px;  
    font-family:'Orbitron',sans-serif ;  
    letter-spacing: 7px; 
    border: 2px solid black;
    text-align: center;
    /* text-shadow: 0 0 20px rgba(15, 175,230, 1),0 0 20px rgb(15, 175, 230,1); */

}  
body{
  background-color: black;
}