  .clock {  
    position: absolute;  
    top: 40%;  
    left: 38%;  
    padding-top: 15px;  
    color: #daf6ff;  
    font-size: 60px;  
    font-family:'Orbitron',sans-serif ;  
    letter-spacing: 7px; 
    text-shadow: 0 0 20px rgba(15, 175,230, 1),0 0 20px rgb(15, 175, 230,1);

}  
body{
  background-color: #000000;
}